.box-info{
    border: solid thin orange;
    height: 145px;
    margin: 10px 10px 0 10px;
    text-align: center;
    padding: 10px;
    width: 150px;
}



.icon{
    font-size: 93px;
}

.title{
    font-size: unset;

}

